<div class="information">

  <h1>Autostar Motors</h1>
  <p>Welcome to Autostar Motors, Denton Nebraska's leading car dealership. We sell the best vehicles for hauling corn, and to top it off, they're all painted RED. GO BIG RED!</p>
  <p>Corporate just released a new used-car program, so if you got a broken-down pickup, or a tractor that's seen a-bit-too-many interstates, feel free to fill out our forms below.</p>
</div>
<div class="logic">
  <% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no products yet.</p>
  <% end %>
</div>

<div class="information">
  <p><%= link_to "Put your ride on the 'roster!'", new_product_path %></p>
</div>
