<div class="information">
  <h1>Sell your old car:</h1>
</div>
<div class="form_logic">
  <%= render "layouts/product_form" %>
</div>

<div class="information">
<p>Once your car's been set up on our website, any interested buyers will contact us. If the buyer seems legit, we'll contact you within five-to-eight business days.</p>
</div>
